[submodule "3sem/OOP/task4/external/raylib"]
	path = 3sem/OOP/task4/external/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "4sem/Graphics/Libraries/raylib"]
	path = 4sem/Graphics/Libraries/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "4sem/Graphics/Libraries/nfd"]
	path = 4sem/Graphics/Libraries/nfd
	url = git@github.com:btzy/nativefiledialog-extended.git
[submodule "4sem/ACA/Sorts/sort_tester"]
	path = 4sem/ACA/Sorts/sort_tester
	url = git@github.com:gohy907/sort_tester.git
